body {
	font-family: 'Roboto', sans-serif;;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	text-decoration: none;
	color: #6B4917;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	line-height: 1.65em;
}

img {
	object-fit: contain;
	height: auto;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* header */
.header {
	font-family: 'Montserrat', sans-serif;
	background-color: #FFB94E;
}

.wrapper {
	display: flex;
	padding: 15px 0;
}

.logo_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 15px;
}

.logo_descriptor {
	margin-top: 0;
	font-size: 12px;
	font-weight: 500;
}

.offer_wrapper {
	display: flex;
	margin: 0 150px;
}

.logline {
	margin-left: 20px;
	font-size: 20px;
	font-weight: 700;
	width: 300px;
}

.entry {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 5px;
	font-size: 16px;
	font-weight: 500;
}


.entry_holder {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -15px;
	cursor: pointer;
}

.entry_holder:hover p,
.entry_holder:hover .fas {
	color: #fff;
}

.entry_holder:hover .fas {
	transform: scale(1.3);
}

.fas {
	margin-right: 10px;
	transition: all ease 0.3s;
}

/* menu */
.nav {
	background-color: #FDD18E;
}

.main_nav {
	display: inline-block;
	margin: 20px 0 20px 350px;

}

.main_nav a{
	position: relative;
	font-size: 20px;
	margin-left: 75px;
	text-decoration: none;
	color: #6B4917;
}

.main_nav a:first-child {
	margin-left: 0;
}

.main_nav a:after {
  	position: absolute;
  	top: 25px;
  	left: 0;
  	right: 0;
  	margin: auto;
  	width: 0%;
  	content: '.';
  	color: transparent;
  	background: #AC7829;
  	height: 2px;
  	transition: all 0.5s;
}

.main_nav .active {
	color: #AC7829;
}

.main_nav a:hover:after,
.main_nav a:focus:after,
.main_nav .active:after {
	width: 100%;
}

.main_nav a:hover,
.main_nav a:focus {
	color: #AC7829;
}

/* sidebar */
.search {
	font-family: 'Montserrat', sans-serif;
	font-size: 	12px;
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    padding: 15px 20px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background: #FFF1DB;
    z-index: 2000;
    text-align: center;
}

.search_title {
	font-size: 25px;
}

.search_toggle {
    position: absolute;
    left: 320px;
    top: 300px;
    padding: 10px;
    background: inherit;
    color: #6B4917;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.search_toggle:after {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    text-decoration: none;
}

.search_toggle:hover {
    color: #ffc770;
}

[id='search_toggle'] {
    position: absolute;
    display: none;
}

[id='search_toggle']:checked ~ .search > .search_toggle {
    left: auto;
    right: 2px;
    top: 300px;
}

[id='search_toggle']:checked ~ .search {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='search_toggle']:checked ~ .search > .search_toggle:after {
    font-family: "Font Awesome 5 Free";
    content: '\f053';
    font-weight: 900;
}

/* inputs */
/* switches */
.switch_holder {
	display: flex;
	justify-content: center;
}
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
	margin-top: 30px;
	margin-left: 90px;
}

.switch p{
	width: 130px;
	margin-left: -40px;
	padding-top: 10px;
	font-weight: 500;
}

.switch:first-child {
	margin-left: 0;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
 	right: 0;
 	bottom: 0;
	background-color: #FCE2BA;
 	-webkit-transition: .4s;
  	transition: .4s;
  	border: 1.5px solid #6B4917;
}

.slider:before {
  	position: absolute;
  	content: "";
  	height: 29px;
  	width: 29px;
  	left: -2px;
 	bottom: -5px;
 	background-color: white;
  	-webkit-transition: .4s;
  	transition: .4s;
  	border: 1.5px solid #6B4917;
}

input:checked + .slider {
  	background-color: #9999FF;
}

input:focus + .slider {
  	box-shadow: 0 0 1px #9999FF;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(27.5px);
  	-ms-transform: translateX(27.5px);
  	transform: translateX(27.5px);
}

.slider.round {
  	border-radius: 34px;
}

.slider.round:before {
  	border-radius: 50%;
}

/* select */

.select_box {
	margin-top: 60px;
}

.select_box .label {
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}

.select {
	margin-left: -30px;
	margin-top: -10px;
}

.custom-select-wrapper {
 	position: relative;
  	display: inline-block;
  	user-select: none;
}

.custom-select-wrapper select {
  	display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
	text-align: left;
    position: relative;
    display: block;
    width: 250px;
    padding: 0 84px 0 7px;
    font-size: 14px;
    color: #6B4917;
    line-height: 35px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #6B4917;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #6B4917;
    border-right: 1px solid #6B4917;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 5px 0;
    border: 1px solid #6B4917;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    transition: all .4s ease-in-out;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 25px;
    border-bottom: 1px solid #6B4917;
    font-size: 14px;
    color: #6B4917;;
    line-height: 40px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #E2E2FF;
    }

/* checkboxes*/

.checkbox_holder {
	margin-top: 30px;
	display: flex;
}

.checkbox_label {
	margin-top: 30px;
	margin-bottom: -20px;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}

.checkbox_col {
	display: flex;
	flex-direction: column;
}

.col_2 {
	margin-left: 10px;
}

.control {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #AC7829;
  border-radius: 3px;
}

.control input:checked ~ .control__indicator {
  background: #fff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fff;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #9999FF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #000;
}

/* range */
.range_label {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}

input[type=range] {
	margin-top: -50px;
  width: 250px;
  margin-left: -25px;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #FFC770;
  border: 0.3px solid #6b4917;
  border-radius: 50px;
  width: 15px;
  height: 10px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: #ffc770;
  border: 1px solid #6b4917;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

.guest_number {
    display: flex;
    height: auto;
    overflow: hidden;
    margin-top: 5px;
}

.range_holder {
	position: relative;
}

#output {
	position: absolute;
	top: 3px;
	left: 180px;
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 50px;
}

/* switches 2 */

.switch_holder_2 {
	margin-top: 30px;
	margin-left: -20px;
}

/* button */
.sum {
	margin-top: 70px;
	margin-left: 120px;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 20px;
	border: 2px solid #6B4917;
	background-color: #ffc770;
	border-radius: 30px;
}


/* content */
.category_wrapper {
	display: flex;
	flex-direction: column;
}

.category {
	display: flex;
	flex-direction: column;
}

.category_title {
	margin: 75px 0 20px 135px;
	font-size: 20px;
}

.category_title .fas {
	font-size: 30px;
}

.cards_holder {
	display: flex;
	justify-content: center;
}

.sleep .cards_holder {
	margin-bottom: 50px;
}

.card {
	margin-left: 50px;
	position: relative;
	overflow: hidden;
}

.card:first-child {
	margin-left: 0;
}

.card_descript {
	font-size: 18px;
	font-weight: 500;
	color: #9999FF;
	padding: 0;
	margin: 10px 0 0 0;
}

.card_descript i{
	margin-right: 10px;
	font-size: 30px;
	color: #9999FF;
}

.overlay {
  position: absolute;
  display: block;
  top: 10px;
  left: 1px;
  background: rgba(255, 255, 255, 0.1);
  color: #8888E0;
  width: 90%;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(10px);
  transform: translateX(-300px);
  transition: all ease 0.3s;
}

.image:hover .overlay{
	transform: translateX(0px);
}

.alevtina .overlay {
  backdrop-filter: blur(25px);
}

.zinaida .overlay {
  background: rgba(255, 255, 255, 0.5);
}

/* footer */
.footer {
	font-family: 'Montserrat', sans-serif;
	background-color: #FFB94E;
	padding: 20px 0;
}

.footer_wrapper {
	display: flex;
}

.social_wrapper {
	display: flex;
	margin-top: 30px;
}

.social_item {
	font-size: 35px;
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
	transition: all ease 0.7s;
}

.social_item:first-child {
	margin-left: 0;
}

.social_item:hover {
	transform: rotate(-360deg);
}
/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.offer_wrapper {
		margin: 0 50px;
	}

	.main_nav {
		margin: 20px 0 20px 250px;
	}

	.category_title {
		margin: 75px 0 20px 30px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.entry {
		margin-top: 0;
	}

	.wrapper {
		justify-content: space-around;
	}

	.offer_wrapper {
		display: none;
	}

	.nav {
		text-align: center;
	}

	.main_nav {
		margin: 20px auto;
	}

	.category_title {
		margin-left: auto;
		margin-right: auto;
	}

	.cards_holder {
		flex-direction: column;
		align-items: center;
	}

	.card {
		margin-left: 0;
		margin-top: 50px;
	}

	.card:first-child {
		margin-top: 0;
	}

	.footer_wrapper {
		justify-content: space-around;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.footer_wrapper {
		flex-direction: column;
	}

	.logo_wrapper,
	.social {
		margin-left: auto;
		margin-right: auto;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.logo_pic {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.logo_descriptor {
		display: none;
	}

	.main_nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		margin: 0 0 20px 20px;
	}

	.main_nav a {
		margin-left: 0;
		padding-top: 10px;
	}

	.main_nav a:first-child {
		margin-top: 0;
	}

	.main_nav a:after {
		display: none;
	}
}